* {
  font-family: 'Fira Code', monospace;
  color: #eeffdd;
  --size: 260px;
  --yeet: #699642;
}

html {
  margin: 0;
  padding: 0;
  background: #161618;
}

body {
  margin: 0;
  padding: 0;
}

.welcome-screen {
  width: 100%;
  height: 100vh;
}

.logo {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.logo > .part {
  position: relative;
  width: var(--size);
  height: var(--size);
  top: 0;
  mask-size: var(--size) !important;
  background: var(--yeet);
  transition: 0.2s ease-out;
}
.logo > .part:hover {
  filter: brightness(1.8) saturate(0.8);
  top: -10px;
  cursor: pointer;
}
.logo > .part.nw {
  mask: url(resources/yeet-lambda.svg);
}
.logo > .part.ne {
  mask: url(resources/yeet-bracket-right.svg);
}
.logo > .part.sw {
  mask: url(resources/yeet-bracket-left.svg);
}
.logo > .part.se {
  mask: url(resources/yeet-t.svg);
}

.paragraphs {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "pa"
    "pb"
    "pc"
    "pd"
    "pe";
  grid-gap: 20px;
}
.paragraphs > p {
  font-size: 1.5rem;
}
.paragraphs > .p1 { grid-area: pa; }
.paragraphs > .p2 { grid-area: pb; }
.paragraphs > .p3 { grid-area: pc; }
.paragraphs > .p4 { grid-area: pd; }
.paragraphs > .p5 { grid-area: pe; }

@media screen and (min-width: 600px) {
  .paragraphs {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pa pb"
      "pc pd"
      "pe pe";
  }
}
@media screen and (min-width: 960px) {
  .paragraphs {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "pa pa pb pb pc pc"
      "pd pd pd pe pe pe";
  }
}
