* {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  color: #eeeeee;
  --bracket-move: 40px;
}

body {
  background: #242424;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.yeet {
  display: flex;
  align-items: center;
}

.yeet > figure {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 25px;
  justify-content: center;
}

.bracket {
  transition: 0.2s ease-out;
}

.bracket-left {
  position: relative;
  left: var(--bracket-move);
}

.bracket-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: var(--bracket-move);
}

.floaty {
  position: relative;
  top: 0;
  transition: 0.2s ease-out;
}

.floaty:hover {
  filter: brightness(2);
  top: -15px;
  cursor: pointer;
}

.paragraphs {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "pa"
    "pb"
    "pc"
    "pd"
    "pe";
  grid-gap: 20px;
}
.paragraphs > p {
  font-size: 1.5rem;
}
.paragraphs > .p1 { grid-area: pa; }
.paragraphs > .p2 { grid-area: pb; }
.paragraphs > .p3 { grid-area: pc; }
.paragraphs > .p4 { grid-area: pd; }
.paragraphs > .p5 { grid-area: pe; }

@media screen and (min-width: 600px) {
  .paragraphs {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pa pb"
      "pc pd"
      "pe pe";
  }
}
@media screen and (min-width: 960px) {
  .paragraphs {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "pa pa pb pb pc pc"
      "pd pd pd pe pe pe";
  }
}
